
.card__link {
    color:red !important;
    fill:red !important;
}

.post-date {
    color:red !important;
    fill:red !important;

}

body {
    color:#000;
}

.btn-primary {
    color:red !important;
    fill:red !important;
}

.vote-widget {
     a.voted-like .icon-vote {
        fill: #cd1719 !important;
        stroke: #cd1719 !important;
    }
    a:hover {
        .icon-vote {
            stroke: #cd1719 !important;
        }
    }
}

.comment__metadata {
    color:red !important;
    fill:red !important;
}

.dropdown-menu li > a, .dropdown-menu li > span {
    color:#000;
}
