// Accesibility contrast fixes
$black: #000;
$theme-red: #cd1719;
$theme-blue: #39a8e0;
$theme-orange: #f9b13c;
$theme-beige: #fceccc;
body {
    color: $black;
}

.form-control {
    color: $black !important;
    fill: $black !important;
}

.card__title {
    color: $black !important;
    fill: $black !important;
}

.card__link {
    color: $black !important;
    fill: $black !important;
}

.post-date {
    color: $black !important;
    fill: $black !important;

}

.btn-primary {
    color: $black !important;
    fill: $black !important;
}

.vote-widget {
     a.voted-like .icon-vote {
        fill: $theme-red !important;
        stroke: $theme-red !important;
    }
    a:hover {
        .icon-vote {
            stroke: $theme-red !important;
        }
    }
}

.comment__metadata {
    color: $black !important;
    fill: $black !important;
}

.dropdown-menu li > a, .dropdown-menu li > span {
    color: $black !important;
}

[type="checkbox"]:checked:not(:disabled) + label, [type="radio"]:checked:not(:disabled) + label {
    color: $black !important;

}

.offcanvas-head .complementary-title {
    color: $black !important;
}

[type="radio"]:checked + label::before {
    border-color: $black !important;
}

[type="checkbox"]:checked + label::after, [type="radio"]:checked + label::after {
    border-color: $theme-blue !important;
    background-color: $theme-blue !important;
}

.btn-flat {
    color: $black !important;
    fill: $black !important;
}

.csv-feed .feed-icon {
    background-color: $theme-blue;
    color: $black;
    width: 100px;
    background-image: none;
    margin-top: 10px;
}

.views-data-export-feed .feed-icon {
    display: flex;
    text-indent: 0px;
    border-radius: 2px !important;
    border-color: $theme-blue;
    width: 130px;
    justify-content: center;
    padding: 5px 0;

    &:hover {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
    }
}

.views-field-label {
    font-weight: bold;
}

.teaser__highlighted-articles {
    .field--label {

        margin-top: 10px;
    }

    a {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.field--label {
    font-weight: bold;
}

.teaser-magazine {
    height: 100%;
    .teaser__image {
        height: auto;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .teaser__content-type-icon {
        display: none;
    }
}

.directories-menu {
    display: block;
 
    li:hover {
        background-color: $theme-blue;
    }
}

.cover {
    height: 260px;
}

.cover-wrap {
    min-height: 260px;
}

.navbar-secondary .navbar-nav a {
    color:$black !important;
}

.black-blue-design {
    background-color: $theme-blue;

    .card__title {
        background-color:$black;
        color:white !important;
        padding-bottom: 10px;
        font-size: 1.5rem;
    }

    .card__subtitle {
        font-size: 1.0rem;
    }
    .teaser--small .teaser--small__media .teaser--small__type-icon {
        background-color: $theme-blue;
        fill: $black;
    }
}

.blue-beige-design {
    background-color: $theme-beige;

    .card__title {
        background-color:$black;
        color:white !important;
        padding-bottom: 10px;
        font-size: 1.5rem;
    }

    .card__subtitle{
        font-size: 1.0rem;
    }
    .teaser--small .teaser--small__media .teaser--small__type-icon {
        background-color: $theme-beige;
        fill: $theme-orange;
    }
}

.blue-beige-design {
    background-color: $theme-beige;

    .card__title {
        background-color:$theme-blue;
        font-size: 1.5rem;
        padding-bottom: 10px;
        color:$black !important;
    }

    .card__subtitle {
        font-size: 1.0rem;
    }
    .teaser--small .teaser--small__media .teaser--small__type-icon {
        background-color: $theme-beige;
        fill: $black;
    }
}
