<article role="article" class="card itchefer-ad-card">
  <div class="card__body">{% set link_url = content.field_redirect_link.0['#url'] %}
        <a href="{{ link_url }}">
            {{ content.field_advertisement }}
        </a>
    </div>
</article>
