{% extends "comment.html.twig" %}

 {% block comment_author %}
   <div class="comment__author"> {{ author }}
     <span class="comment__metadata">&bullet; {{ new_indicator_timestamp|format_date('social_long_date') }} </span>
   </div>
 {% endblock %}
